@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply overflow-hidden h-screen;
        font-family: 'Be Vietnam Pro', sans-serif;
    }
}

@layer components {

    .sidebar-tab {
        @apply block text-center text-lg py-2 cursor-pointer hover:bg-tabHover 
    }

    .rightToLeft{
        font-size: 12em;
        animation: RightToLeft 10s infinite linear;
    }

    @keyframes RightToLeft {
        from {
            transform: translateX(0.3%);
        }
        to {
            transform: translateX(-50%);
        }
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        height: 200vh;

        
    }

    .grid-item{
        background-color: #f6eee3;
        object-fit: fill;
        outline: 1px solid;
        position: relative; /* Position relative to use padding trick */
        padding-top: 100%;
    }

    .work-photo{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 500ms ease-in-out ;
    }

    .p-photo{
        position: absolute; /* Position absolute within the relative grid item */
        top: 10px;
        left: 20px;
        font-size: 1.125rem;
        color: black;
    }

    @media (max-width: 1200px) {
        .grid-container {
            grid-template-columns: repeat(3, 1fr);
        }
    }
    @media (max-width: 900px) {
        .grid-container {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    @media (max-width: 600px) {
        .grid-container {
            display: block;
            height:2000px
        }

        .grid-item{
            
        }

    }
}